<style>
  {%- include "output.css" -%}
</style>
  {%- include "_menu.html" -%}
<main class="bg-blue-300">
  {%- block content -%}
  BASE TEMPLATE CONTENT: {{title}}
  {%- endblock content -%}
</main>
<script lang="javascript">
  {%- include "app.js" -%}
</script>
